{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}English Corpus Search{% endblock %}</h1>
{% endblock %}

{% block content %}
<section class="searchBar">
  <form onsubmit="return queryCheck(this)" id="searchForm" method="post">
      <h3>Query</h3>
      <input name="query" id="query" autofocus required>
      <button style="border: 1px solid #dee2e6;" class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#advancedSearch" aria-expanded="false" aria-controls="advancedSearch">
        Advanced Filters <i style="color: black;" class="bi bi-filter-circle-fill"></i>
      </button>
      <div class="collapse" id="advancedSearch">
        <div class="card card-body">
          <div class="container text-center">
            <div class="row">
              <p style="text-align: left; font-weight: bold;">Selectors</p>
            </div>
            <div class="row">
              <div class="col">
                <span id="nounBtn" class="badge btn bg-secondary" onclick="addNoun()">NOUN</span>
                <p>noun</p>
              </div>
              <div class="col">
                <span id="pronBtn" class="badge btn bg-secondary" onclick="addPron()">PRON</span>
                <p>pronoun</p>
              </div>
              <div class="col">
                <span id="adjBtn" class="badge btn bg-secondary" onclick="addAdj()">ADJ</span>
                <p>adjective</p>
              </div>
              <div class="col">
                <span id="verbBtn" class="badge btn bg-secondary" onclick="addVerb()">VERB</span>
                <p>verb</p>
              </div>
              <div class="col">
                <span id="advBtn" class="badge btn bg-secondary" onclick="addAdv()">ADV</span>
                <p>adverb</p>
              </div>
              <div class="col">
                <span id="adpBtn" class="badge btn bg-secondary" onclick="addAdp()">ADP</span>
                <p>adposition</p>
              </div>
              <div class="col">
                <span id="prtBtn" class="badge btn bg-secondary" onclick="addPrt()">PRT</span>
                <p>particle</p>
              </div>
              <div class="col">
                <span id="detBtn" class="badge btn bg-secondary" onclick="addDet()">DET</span>
                <p>determiner</p>
              </div>
              <div class="col">
                <span id="conjBtn" class="badge btn bg-secondary" onclick="addConj()">CONJ</span>
                <p>conjunction</p>
              </div>
              <div class="col">
                <span id="numBtn" class="badge btn bg-secondary" onclick="addNum()">NUM</span>
                <p>number</p>
              </div>
              <!-- <div class="col">
                <span class="badge btn bg-secondary">.</span>
                <p>punctuation</p>
              </div> -->
            </div>
            <div class="row">
              <p style="text-align: left;font-weight: bold;">Order by</p>
            </div>
            <div class="row">
              <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-dark" for="btnradio1">Newest</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-dark" for="btnradio2">Quality</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-dark" for="btnradio3">Similarity</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" id="searchButton" type="submit">Search<span> </span><i class="bi-search"></i></button>
  </form>
</section>
<section class="results">
    <h3 class="resultCount">{{ results[-1][0] }}</h3>
    <hr>
    <div style="visibility: hidden" class="alert alert-warning" id="copy-alert">
      <strong>Copied</strong>
    </div>
    {% for result in results %}
    <article class="result">
      {% if not loop.last %}
      <div class="card">
        <div class="card-body">
          <p class="resultText"><span class="resultNumber">{{ result[4] }}.</span class="resultText"><span>{{ result[1] }}</span></p>
          <div class="container text-center">
            <div class="row align-items-baseline">
              <div class="col-2">
                <a class="resultLink" target="_blank" rel="noopener noreferrer" href= {{ "https://youtu.be/" ~ result[2] ~ "?t=" ~ result[3] }}>Clip </a>
              </div>
              <div class="col"><i class="bi-clipboard btn" onclick="copyTextToClipboard(getCopyContent(this));showAlert()"></i></div>
              <div class="col-7"><em class="resultChannel">{{ result[0] }}</em></div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  {% if pages|length < 7 %}
  {% for page in pages %}
  <a class = "btn btn-primary" href={{ url_for("search.search_corpus", q=params, page=page) }}>{{ page }}</a>
  {% endfor %}
  {% endif %}
  {% if pages|length > 6 %}
  <div class="container text-center" >
    <div class="row align-items-baseline">
      <div class="col"><a class = "btn btn-primary" href={{ url_for("search.search_corpus", q=params, page=pages[0]) }}>{{ pages[0] }}</a></div>
      <div class="col"><a class = "btn btn-primary" href={{ url_for("search.search_corpus", q=params, page=pages[1]) }}>{{ pages[1] }}</a></div>
      <div class="col justify"><form class="align-items-center" method = "POST">
        <input type="number" required name="page_no" id="pageNo" min="1" max={{ pages[-1] }} />
        <input type="hidden" name="query" value={{ params }} />
        <input type="submit" name="submit" id="pageGo" value="go" />
      </form></div>
      <div class="col"><a class = "btn btn-primary" href={{ url_for("search.search_corpus", q=params, page=pages[-2]) }}>{{ pages[-2] }}</a></div>
      <div class="col"><a class = "btn btn-primary" href={{ url_for("search.search_corpus", q=params, page=pages[-1]) }}>{{ pages[-1] }}</a></div>
    </div>
  </div>
  {% endif %}
</section>
  <!-- <span>search over 10,000 high quality video annotations</span> -->
{% endblock %}