{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Videos Sentence Search Engine{% endblock %}</h1>
{% endblock %}

{% block content %}
<section class="searchBar">
<form id="searchForm" method="post">
    <label for="query">Query</label>
    <input name="query" id="query" required>
    <label for="random">randomize</label>
    <input type="checkbox" name="random" value="random" checked>
    <input type="submit" value="Search">
  </form>
</section>

<section class="results">
    {% for result in results %}
    <article class="result">
      <header>
        <div>
          {% if loop.last %}
          <h3 class="resultCount">{{ result[0] }}</h3>
          {% endif %}
          {% if not loop.last %}
          <h3 class="resultChannel">{{ result[0] }}</h3>
          {% endif %}
        </div>
      </header>
      <p class="resultText">{{ result[1] }}</p>
      {% if not loop.last %}
      <a class="resultLink" href= {{ "https://youtu.be/" ~ result[2] ~ "?t=" ~ result[3] }}>Link to Clip</a>
      {% endif %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
</section>
  <!-- <span>search over 10,000 high quality video annotations</span> -->
{% endblock %}